@use '../colors';

.highscore-container {
    position: relative;
    pointer-events: all;

    width: calc(100% - 2rem);
    height: calc(100% - 8rem - min(20vw, 12.5vh, 5rem));
    margin-top: calc(5rem + min(20vw, 12.5vh, 5rem));
    margin-bottom: 3rem;
    max-width: 20rem;
    max-height: 30rem;

    background-color: colors.$secondary-color-dark;
    border-radius: .4rem .4rem 0 .4rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    transform: scale(0);
    transition: transform .3s cubic-bezier(0.545, -0.215, 1.000, 0.470);

    &.pop {
        transform: scale(1);
        transition: transform .3s cubic-bezier(0.075, 0.495, 0.320, 1.225);
    }
}

.highscore-continue {
    position: absolute;
    bottom: -2rem;

    border-bottom-right-radius: .4rem;
    border-bottom-left-radius: .4rem;
    align-self: end;
    transform-origin: right top;
}

.highscore-map {
    position: absolute;
    top: max(-20vw, -12.5vh, -5rem);
    left: 50%;
    width: min(40vw, 25vh);
    height: min(40vw, 25vh);
    max-width: 10rem;
    max-height: 10rem;

    z-index: 2;

    border-radius: 50%;
    border: solid .5rem colors.$secondary-color-dark;
    overflow: hidden;

    transform: translateX(-50%);
}

.highscore-tabs-container {
    height: calc(100% - min(20vw, 12.5vh, 5rem) - 2.5rem);
    margin-top: calc(min(20vw, 12.5vh, 5rem) + 1.5rem);
    margin-bottom: 1rem;

    width: calc(100% - 2rem);
    z-index: 1;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.highscore-buttons {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.highscore-button {
    flex: 1;
    pointer-events: all;

    height: 2rem;
    width: 2rem;

    overflow: hidden;

    border-radius: .4rem;
    background-color: colors.$main-color-dark;
    color: colors.$main-color-light;

    transition: all .2s ease-in-out;

    &.active {
        background-color: colors.$main-color-light;

        &>svg {
            color: colors.$main-color-dark;
        }
    }

    &>svg {
        pointer-events: none;
        height: 100%;
        width: 100%;
    }
}

.highscore-tabs {
    position: relative;
    flex: 1;
    height: inherit;
    width: 100%;
    display: flex;
    overflow: hidden;
    border-radius: .4rem;
}

.highscore-tab {
    height: 100%;
    display: flex;
    flex-direction: column;

    flex: 0;
    transition: flex .2s ease-in-out;
    background-color: colors.$main-color-light;

    &.active {
        flex: 1;
    }

    &.statistics {}

    &.leaderboard {}

    &.chart {
        background-color: colors.$secondary-color-dark;

        &>svg {
            height: 100%;

            &>path {
                fill: colors.$main-color-light;
            }

            &>line {
                stroke: colors.$secondary-color-dark;
                stroke-width: 3;
            }
        }
    }
}

.highscore-entry {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: .9rem;
    padding: .5rem .5rem;

    color: colors.$main-color-dark;
    background-color: colors.$main-color-light;

    &:nth-child(even) {
        background-color: colors.$main-color-medium;
    }

    &.active {
        color: colors.$main-color-light;
        background-color: colors.$main-color-dark;
    }
}

.highscore-entry-label {
    display: flex;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    transform: scale(0);
    transition: transform .2s cubic-bezier(0.36, 0, 0.66, -0.56);

    &.pop {
        transform: scale(1);
        transition: transform .2s cubic-bezier(0.34, 1.56, 0.64, 1);
    }

    &.incrementing {
        animation: leaderboard-score-increment .3s ease-in-out infinite;
    }

    &.stop {
        animation: leaderboard-score-stop .2s ease-out;
    }

    &.value {
        font-weight: bold;
    }

    &.first,
    &.second {
        margin-right: .1rem;
    }

    &.second {
        margin-left: .2rem;
    }
}