@use '../colors';
@use '../sizes';

.highscore-container {
    position: relative;
    pointer-events: all;

    width: min(calc(100% - sizes.$gap1rem * 2), sizes.$max-width);

    margin-bottom: calc(sizes.$font-size-small + 1rem + sizes.$gap1rem);

    background-color: colors.$secondary-color-dark;
    border-radius: sizes.$border-radius sizes.$border-radius 0 sizes.$border-radius;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: sizes.$font-size-regular;

    transform: scale(0);
    transition: transform .3s cubic-bezier(0.545, -0.215, 1.000, 0.470);

    &.pop {
        transform: scale(1);
        transition: transform .3s cubic-bezier(0.075, 0.495, 0.320, 1.225);
    }

    &.ending {
        margin-top: calc(sizes.$button-size + 2*sizes.$gap1rem);
        height: min(calc(100% - sizes.$button-size - 3*sizes.$gap1rem - sizes.$font-size-small - 1rem), sizes.$max-height);

        &>.highscore-tabs-container {
            margin-top: sizes.$gap1rem;
        }
    }

    &.level {
        margin-top: calc(sizes.$button-size + 2*sizes.$gap1rem + min(20vw, 12.5vh, 5rem));
        height: min(calc(100% - sizes.$button-size - 3*sizes.$gap1rem - sizes.$font-size-small - 1rem - min(20vw, 12.5vh, 5rem)), sizes.$max-height);

        &>.highscore-tabs-container {
            margin-top: calc(min(20vw, 12.5vh, 5rem) + sizes.$gap1rem + min(.5rem, 2vh, 2vw));
        }
    }
}

.highscore-continue {
    position: absolute;
    bottom: calc(-1 * (sizes.$font-size-small + 1rem));

    border-bottom-right-radius: sizes.$border-radius;
    border-bottom-left-radius: sizes.$border-radius;
    align-self: end;
    transform-origin: right top;
}

.highscore-map {
    position: absolute;
    top: max(-20vw, -12.5vh, -5rem);
    left: 50%;
    width: min(40vw, 25vh, 10rem);
    height: min(40vw, 25vh, 10rem);

    z-index: 2;

    border-radius: 50%;
    border: solid min(.5rem, 2vh, 2vw) colors.$secondary-color-dark;
    overflow: hidden;

    transform: translateX(-50%);
}

.highscore-tabs-container {
    overflow: hidden;
    margin-bottom: sizes.$gap1rem;

    width: calc(100% - 2*sizes.$gap1rem);
    z-index: 1;

    display: flex;
    flex-direction: column;
    gap: sizes.$gap1rem;
}

.highscore-buttons {
    display: flex;
    width: 100%;
    gap: sizes.$gap1rem;
}

.highscore-button {
    flex: 1;
    pointer-events: all;

    height: min(2rem, 6vh);
    width: min(2rem, 6vh);

    overflow: hidden;

    border-radius: sizes.$border-radius;
    background-color: colors.$main-color-dark;
    color: colors.$main-color-light;

    transition: all .2s ease-in-out;

    &.active {
        background-color: colors.$main-color-light;

        &>svg {
            color: colors.$main-color-dark;
        }
    }

    &>svg {
        pointer-events: none;
        height: 100%;
        width: 100%;
    }
}

.highscore-tabs {
    position: relative;
    flex: 1;
    height: inherit;
    width: 100%;
    display: flex;
    overflow: hidden;
    border-radius: sizes.$border-radius;
}

.highscore-tab {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

    flex: 0;
    transition: flex .2s ease-in-out;
    background-color: colors.$main-color-light;

    &.active {
        flex: 1;
    }

    &.chart {
        background-color: colors.$secondary-color-dark;

        &>svg {
            height: 100%;

            &>g>path {
                fill: colors.$main-color-light;
            }

            &>g>line {
                stroke: colors.$main-color-dark;
                stroke-dasharray: 8;
                stroke-width: 3;
            }

            &>text {
                fill: colors.$secondary-color-dark;
                font-weight: bold;
            }
        }
    }

    &.journey {
        overflow: hidden;
    }
}

.highscore-chart-labels {
    position: absolute;
    height: 100%;
    width: 100%;

    opacity: 0;
    transition: opacity .2s linear;

    &.reveal {
        opacity: 1;
    }
}

.highscore-chart-label {
    position: absolute;

    padding: .2rem .5rem;
    font-size: sizes.$font-size-small;
    border-radius: sizes.$border-radius;

    background-color: colors.$main-color-dark;
    color: colors.$main-color-light;

    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &.top {
        bottom: .5rem;
        left: 50%;
        transform: translateX(-50%);
        font-weight: bold;
    }

    &.min {
        top: .5rem;
        left: .5rem;
    }

    &.max {
        top: .5rem;
        right: .5rem;
    }
}

.highscore-journey-labels {
    position: absolute;
    height: 100%;
    width: 100%;
}

.highscore-journey-label {
    position: absolute;

    padding: .2rem .5rem;
    font-size: sizes.$font-size-small;
    border-radius: sizes.$border-radius;

    color: colors.$main-color-light;

    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    opacity: 0;
    transition: opacity .2s linear;

    &.reveal {
        opacity: 1;
    }

    &.player {
        background-color: colors.$player;
        bottom: .5rem;
        left: .5rem;
    }

    &.winner {
        background-color: colors.$enemies;
        bottom: .5rem;
        right: .5rem;
    }
}

.highscore-entry {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: sizes.$font-size-small;
    padding: .5rem .5rem;

    color: colors.$main-color-dark;
    background-color: colors.$main-color-light;

    &:nth-child(even) {
        background-color: colors.$main-color-medium;
    }

    &.active {
        color: colors.$main-color-light;
        background-color: colors.$main-color-dark;
    }
}

.highscore-entry-label {
    display: flex;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    transform: scale(0);
    transition: transform .2s cubic-bezier(0.36, 0, 0.66, -0.56);

    &.pop {
        transform: scale(1);
        transition: transform .2s cubic-bezier(0.34, 1.56, 0.64, 1);
    }

    &.incrementing {
        animation: leaderboard-score-increment .3s ease-in-out infinite;
    }

    &.stop {
        animation: leaderboard-score-stop .2s ease-out;
    }

    &.value {
        font-weight: bold;
    }

    &.first,
    &.second {
        margin-right: .1rem;
    }

    &.second {
        margin-left: .2rem;
    }
}

.highscore-oops {
    height: 100%;
    font-family: 'Vincendo';
    color: colors.$main-color-light;

    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}