@use '../colors';
@use '../sizes';

$color-thought : colors.$main-color-dark;
$color-lost : #a77822;
$color-wrong : #c44343;

.level-hint-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 35rem;

    display: flex;

    pointer-events: none;
    user-select: none;
}

.level-hint-character {
    height: min(25vw, 25vh, 10rem);
    width: min(25vw, 25vh, 10rem);
    margin: sizes.$gap1rem 0 sizes.$gap1rem sizes.$gap1rem;

    transform: translateX(0);
    transition: transform .6s ease-out;

    &>img {
        width: inherit;
        height: inherit;
        image-rendering: pixelated;
    }

    &.hidden {
        transform: translateX(calc(-100% - 2*sizes.$gap1rem));
        transition: transform .6s ease-in;
    }
}

.level-hint-bubble {
    position: relative;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    font-size: sizes.$font-size-regular;
    background-color: $color-thought;
    color: colors.$main-color-light;
    border-radius: sizes.$border-radius;

    margin: auto calc(sizes.$gap1rem * 2) auto sizes.$gap1rem;
    padding: .6rem .8rem;

    transform: scale(0);
    opacity: 0;
    transition: transform .2s cubic-bezier(0.36, 0, 0.66, -0.56), background .2s linear, opacity .2s ease-in;

    &.pop {
        transform: scale(1);
        opacity: 1;
        transition: transform .2s cubic-bezier(0.34, 1.56, 0.64, 1), background .2s linear, opacity .2s ease-out;
    }

    &.focus {
        transition: transform .1s ease-out, background .2s linear, opacity .2s ease-out;
        transform: scale(1.1);
    }

    &::before {
        content: '';
        position: absolute;
        top: calc(50% - .3rem);
        left: -1rem;
        height: sizes.$gap1rem;
        width: 1.1rem;
        clip-path: polygon(0 50%, 100% 100%, 100% 0);
        background-color: $color-thought;
        transition: background .2s linear;
    }

    &.lost {
        background-color: $color-lost;

        &::before {
            background-color: $color-lost;
        }
    }

    &.wrong {
        background-color: colors.$score-enemies-dark;

        &::before {
            background-color: colors.$score-enemies-dark;
        }
    }
}