@use '../colors';
@use '../sizes';

$margin-top: calc(sizes.$button-size + 2*sizes.$gap1rem);
$bottom-button-size: min(2.5rem, 10vw, 8vh);

.page-content-about {
    pointer-events: all;

    background-color: colors.$secondary-color-dark;
    color: colors.$main-color-light;
    border-radius: sizes.$border-radius;

    max-height: calc(min(calc(100% - $margin-top), sizes.$max-height) - (2*sizes.$gap1rem + $bottom-button-size));
    margin-bottom: calc(2*sizes.$gap1rem + $bottom-button-size);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-button-title {
    position: absolute;
    bottom: sizes.$gap1rem;
    right: sizes.$gap1rem;
    height: $bottom-button-size;

    display: flex;
    align-items: center;

    padding: 0 sizes.$gap1rem;
    border-radius: sizes.$border-radius;
    pointer-events: all;

    font-family: 'Vincendo';
    font-size: sizes.$font-size-title;
    text-transform: uppercase;
    color: colors.$main-color-light;
    background-color: colors.$secondary-color-dark;

    transform: scale(0);
    transition: transform .3s cubic-bezier(0.36, 0, 0.66, -0.56);

    &.pop {
        transform: scale(1);
        transition: transform .3s cubic-bezier(0.34, 1.56, 0.64, 1);
    }
}

.about-title {
    margin: sizes.$gap1rem sizes.$gap1rem 0 sizes.$gap1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Vincendo';
    font-size: min(8vw, 8vh, 1.5rem);
}

.about-text {
    display: flex;
    flex-direction: column;
    margin: sizes.$gap1rem;
    padding-bottom: sizes.$gap1rem;
    width: calc(100% - 2*sizes.$gap1rem);
    gap: sizes.$gap1rem;
}

.about-paragraph {
    display: flex;
    flex-direction: column;
    gap: sizes.$gap1rem;
}

.about-paragraph-title {
    display: flex;
    justify-content: center;

    font-family: 'Vincendo';
    font-size: sizes.$font-size-title;
}

.about-paragraph-text {
    font-size: sizes.$font-size-regular;

    &>a {
        color: #bed3e6;
        font-weight: bold;
        text-decoration: unset;
    }
}

.about-vectors {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: sizes.$gap1rem;
}

$svg-size: min(4rem, 16vw, 16vh);

.about-svg {
    pointer-events: all;
    position: relative;
    height: calc($svg-size - 2*1rem);
    padding: 1rem;

    flex: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: colors.$main-color-light;
    border-radius: sizes.$border-radius;

    &>svg {
        display: block;
        height: inherit;
        width: auto;
        object-fit: contain;
        color: colors.$main-color-dark;
    }

    &.github {
        height: min(3rem, 12vw, 12vh);
        padding: 0;
        background-color: unset;

        &>svg {
            color: colors.$main-color-light;
        }

        &>.about-link {
            top: -.1rem;
            right: -.8rem;
            transform: translate(-50%, -50%);

            &>svg {
                color: colors.$main-color-light;
            }
        }
    }
}

.about-link {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;

    color: colors.$main-color-dark;

    border-radius: .3rem;
    height: 1rem;
    width: 1rem;

    &>svg {
        width: inherit;
        height: inherit;
    }
}

.about-scroll-indicator {
    width: 100%;
    height: 0;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    font-size: sizes.$font-size-small;
    line-height: sizes.$font-size-title;
    text-align: center;

    background-color: colors.$main-color-light;
    color: colors.$main-color-dark;
    transition: .2s height ease-in-out;

    &.active {
        height: sizes.$font-size-title;
    }
}