@use '../colors';
@use '../sizes';

.page-content-credits {
    pointer-events: all;
    pointer-events: all;

    background-color: colors.$secondary-color-dark;
    color: colors.$main-color-light;
    border-radius: sizes.$border-radius;

    margin: 5.5rem 0 5rem 0;
    height: calc(100% - 9.5rem);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.credits-title-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.credits-title {
    font-family: 'Vincendo';
    font-size: 2rem;
    text-align: center;
}

.credits-campfire {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;

    &>img {
        position: absolute;
        bottom: 1rem;
        width: 3.5rem;
        height: 3.5rem;
        image-rendering: pixelated;
    }
}

.credits-woodpigeon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;

    &>img {
        width: 4rem;
        height: 4rem;
        image-rendering: pixelated;
    }
}

.credits-scrollbox {
    height: 100%;
    margin: 0 1rem 1rem 1rem;
}

.credits-spacer {
    height: 100%;
}

.credits-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.credits-group-title {
    font-family: 'Vincendo';
    text-align: center;
    margin-bottom: 1rem;
}

.credits-group-maintitle {
    font-size: 1.5rem;
}

.credits-group-subtitle {
    font-size: 1rem;
}

.credits-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.credits-github {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: sizes.$gap1rem;
    width: 100%;
}

.credits-github-label {
    text-align: center;
    font-size: sizes.$font-size-regular;
    width: 75%;
}

.credits-github-logo {
    height: sizes.$button-size;
    width: sizes.$button-size;

    &>svg {
        height: inherit;
        width: inherit;
    }
}

.credits-entry {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    font-size: sizes.$font-size-regular;
}

.credits-role {
    text-align: end;
    line-height: 1.1rem;
    width: calc(50% - .5rem);
    overflow-wrap: anywhere;
}

.credits-name {
    width: calc(50% - .5rem);

    line-height: 1.1rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.credits-label {
    overflow-wrap: anywhere;
}

.credits-hyperlink {
    background-color: colors.$main-color-light;
    color: colors.$main-color-dark;
    flex-shrink: 0;

    border-radius: .3rem;
    height: 1.1rem;
    width: 1.1rem;
    margin-left: .2rem;

    &>svg {
        height: inherit;
        width: inherit;
    }
}

.credits-bottom-buttons {
    position: absolute;
    bottom: 1rem;
    right: 1rem;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

.credits-scroll {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: sizes.$border-radius;
    pointer-events: all;

    color: colors.$main-color-light;
    background-color: colors.$secondary-color-dark;

    transform: scale(0);
    transition: transform .3s cubic-bezier(0.36, 0, 0.66, -0.56), background-color .3s ease-in-out;

    &.pop {
        transform: scale(1);
        transition: transform .3s cubic-bezier(0.34, 1.56, 0.64, 1), background-color .3s ease-in-out;
    }

    &>svg {
        height: inherit;
        width: inherit;
    }

    &.active {
        background-color: colors.$main-color-dark;
    }
}

.credits-button-title {
    height: 2.5rem;

    display: flex;
    align-items: center;

    padding: 0 1rem;
    border-radius: sizes.$border-radius;
    pointer-events: all;

    font-family: 'Vincendo';
    font-size: 1.2rem;
    text-transform: uppercase;
    color: colors.$main-color-light;
    background-color: colors.$secondary-color-dark;

    transform: scale(0);
    transition: transform .3s cubic-bezier(0.36, 0, 0.66, -0.56);

    &.pop {
        transform: scale(1);
        transition: transform .3s cubic-bezier(0.34, 1.56, 0.64, 1);
    }
}