@use '../colors';
@use '../sizes';

$margin-top: calc(sizes.$button-size + 2*sizes.$gap1rem);
$bottom-button-size: min(2.5rem, 10vw, 8vh);
$image-size: min(4rem, 18vw, 18vh);

.page-content-credits {
    pointer-events: all;

    background-color: colors.$secondary-color-dark;
    color: colors.$main-color-light;
    border-radius: sizes.$border-radius;

    max-height: calc(min(calc(100% - $margin-top), sizes.$max-height) - (2*sizes.$gap1rem + $bottom-button-size));
    margin-bottom: calc(2*sizes.$gap1rem + $bottom-button-size);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.credits-title-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: min(15vw, 15vh, 5rem);
}

.credits-title {
    font-family: 'Vincendo';
    font-size: min(8vw, 8vh, 1.5rem);
    text-align: center;
}

.credits-campfire {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $image-size;
    width: $image-size;

    &>img {
        position: absolute;
        bottom: sizes.$gap1rem;
        width: inherit;
        height: inherit;
        image-rendering: pixelated;
    }
}

.credits-woodpigeon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $image-size;
    width: $image-size;

    &>img {
        width: inherit;
        height: inherit;
        image-rendering: pixelated;
    }
}

.credits-scrollbox {
    height: 100%;
    margin: 0 sizes.$gap1rem sizes.$gap1rem sizes.$gap1rem;
}

.credits-spacer {
    height: 100%;
}

.credits-text {
    display: flex;
    flex-direction: column;
    gap: sizes.$gap1rem;
}

.credits-group-title {
    font-family: 'Vincendo';
    text-align: center;
    margin-bottom: sizes.$gap1rem;
}

.credits-group-maintitle {
    font-size: sizes.$font-size-title;
}

.credits-group-subtitle {
    font-size: sizes.$font-size-regular;
}

.credits-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: min(.4rem, 2vh, 2vw);
}

.credits-github {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: sizes.$gap1rem;
    width: 100%;
}

.credits-github-label {
    text-align: center;
    font-size: sizes.$font-size-regular;
    width: 75%;
}

.credits-github-logo {
    height: sizes.$button-size;
    width: sizes.$button-size;

    &>svg {
        height: inherit;
        width: inherit;
    }
}

.credits-entry {
    display: flex;
    justify-content: center;
    gap: sizes.$gap1rem;
    width: 100%;
    font-size: sizes.$font-size-regular;
}

.credits-role {
    text-align: end;
    line-height: 1.1rem;
    width: calc(50% - (sizes.$gap1rem / 2));
    overflow-wrap: anywhere;
}

.credits-name {
    width: calc(50% - (sizes.$gap1rem / 2));

    line-height: 1.1rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.credits-label {
    overflow-wrap: anywhere;
}

.credits-hyperlink {
    background-color: colors.$main-color-light;
    color: colors.$main-color-dark;
    flex-shrink: 0;

    border-radius: .3rem;
    height: 1.1rem;
    width: 1.1rem;
    margin-left: .2rem;

    &>svg {
        height: inherit;
        width: inherit;
    }
}

.credits-bottom-buttons {
    position: absolute;
    bottom: sizes.$gap1rem;
    right: sizes.$gap1rem;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: sizes.$gap1rem;
}

.credits-scroll {
    height: $bottom-button-size;
    width: $bottom-button-size;

    border-radius: 50%;
    pointer-events: all;

    color: colors.$main-color-light;
    background-color: colors.$secondary-color-dark;

    transform: scale(0);
    transition: transform .3s cubic-bezier(0.36, 0, 0.66, -0.56), background-color .3s ease-in-out;

    &.pop {
        transform: scale(1);
        transition: transform .3s cubic-bezier(0.34, 1.56, 0.64, 1), background-color .3s ease-in-out;
    }

    &>svg {
        height: inherit;
        width: inherit;
    }

    &.active {
        background-color: colors.$main-color-dark;
    }
}

.credits-button-title {
    height: $bottom-button-size;

    display: flex;
    align-items: center;

    padding: 0 sizes.$gap1rem;
    border-radius: sizes.$border-radius;
    pointer-events: all;

    font-family: 'Vincendo';
    font-size: sizes.$font-size-title;
    text-transform: uppercase;
    color: colors.$main-color-light;
    background-color: colors.$secondary-color-dark;

    transform: scale(0);
    transition: transform .3s cubic-bezier(0.36, 0, 0.66, -0.56);

    &.pop {
        transform: scale(1);
        transition: transform .3s cubic-bezier(0.34, 1.56, 0.64, 1);
    }
}