@use '../colors';
@use '../sizes';

.custom-text {
    width: 100%;

    pointer-events: all;
    border-top-right-radius: sizes.$border-radius;
    border-bottom-left-radius: sizes.$border-radius;

    background-color: colors.$secondary-color-dark;
    color: colors.$main-color-light;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.custom-rabbit-container {
    width: calc(100% - 2*sizes.$gap1rem);
    display: flex;
    flex-direction: column;

    margin: sizes.$gap1rem;
    gap: sizes.$gap1rem;

    justify-content: center;
    align-items: center;

    pointer-events: all;
}

.custom-rabbit-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-rabbits {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    gap: sizes.$gap1rem;

    background-color: colors.$secondary-color-dark;
    border-radius: 0 sizes.$border-radius 0 sizes.$border-radius;
}

.custom-rabbit-individual {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    aspect-ratio: 1/1;

    transition: background .2s ease-in-out;

    &>img {
        width: calc(100% - .6rem);
        height: calc(100% - .6rem);
        padding: .3rem;
        image-rendering: pixelated;
    }

    &.active {
        background-color: colors.$main-color-light;
    }
}

.custom-rabbit-lock {
    position: absolute;
    top: 0;
    left: 0;

    padding: .6rem;
    width: calc(100% - .6rem);
    height: calc(100% - .6rem);
    color: colors.$main-color-light;

    &>svg {
        width: inherit;
        height: inherit;
    }
}

.custom-pseudo-container {
    width: 100%;
    margin-bottom: sizes.$gap1rem;

    display: flex;
    gap: sizes.$gap1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-pseudo-back {
    width: calc(100% - 2*sizes.$gap1rem);
    border-radius: sizes.$border-radius;

    overflow: hidden;
    color: colors.$main-color-dark;
    background-color: colors.$main-color-light;

    display: flex;
    align-items: center;

    transition: height .1s linear;
}

.custom-pseudo-label {
    font-family: 'Vincendo';
    font-size: sizes.$font-size-regular;
    padding: 0 sizes.$gap1rem;
    width: calc(100% - 2*sizes.$gap1rem);

    text-align: center;
    transform: translateX(0);
    transition: transform .2s ease-in-out;

    &.left {
        transform: translateX(-100%);
    }

    &.right {
        transform: translateX(100%);
    }
}

.custom-pseudo-randomizer {
    border-radius: 50%;
    height: min(3rem, 8vh, 12vw);
    width: min(3rem, 8vh, 12vw);
    background-color: colors.$main-color-dark;

    &>svg {
        color: colors.$main-color-light;
        height: inherit;
        width: inherit;
    }
}

.selection-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    pointer-events: all;

    background-color: aqua;
}