@use '../colors';
@use '../sizes';

.form-text {
    width: 100%;
    font-size: sizes.$font-size-regular;

    pointer-events: all;
    border-top-right-radius: sizes.$border-radius;
    border-bottom-left-radius: sizes.$border-radius;

    background-color: colors.$secondary-color-dark;
    color: colors.$main-color-light;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.form-question {
    font-weight: bolder;
    text-align: center;
    padding: sizes.$gap1rem;
}

.form-subtext {
    font-size: sizes.$font-size-small;
    font-style: italic;
    padding: 0 sizes.$gap1rem sizes.$gap1rem sizes.$gap1rem;
}

.form-answers {
    padding: 0 sizes.$gap1rem sizes.$gap1rem sizes.$gap1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(sizes.$gap1rem/2);
    flex-wrap: wrap;
}

.form-answer {
    padding: .3rem .5rem;
    border-radius: sizes.$border-radius;

    background-color: colors.$main-color-light;
    color: colors.$main-color-dark;

    transition: background .2s ease-in-out, color .2s ease-in-out;

    &.selected {
        background-color: colors.$main-color-dark;
        color: colors.$main-color-light;
    }
}