@use '../colors';
@use '../sizes';

.title-name {
    position: absolute;
    z-index: 150;
    pointer-events: all;
    top: 20%;

    transition: transform .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: scale(1);

    &.slanted {
        transform: perspective(10rem) rotateX(30deg) rotateZ(-5deg) scaleX(0.8);
    }
}

.title-letters {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Vincendo';
    font-size: min(16vw, 16vh, 5rem);
    text-transform: uppercase;
    color: colors.$main-color-light;

    padding: .2rem 1.2rem;
    border-radius: .8rem;
    background-color: colors.$secondary-color-dark;
    border: solid .3rem colors.$main-color-light;

    overflow: hidden;

    transform-origin: center center;
    transform: scale(0);
    transition: transform .3s cubic-bezier(0.36, 0, 0.66, -0.56);

    &.horizontal-bounce {
        transform-origin: center right;
        animation: horizontal-bounce .4s linear;
    }

    &.pop {
        transform: scale(1);
        transition: transform .3s cubic-bezier(0.34, 1.56, 0.64, 1);
    }

    text-shadow: 1px 1px 0 colors.$main-color-medium,
    1px 2px 0 colors.$main-color-medium,
    1px 3px 0 colors.$main-color-medium,
    1px 4px 0 colors.$main-color-medium;
}

.title-letter {
    transition: transform .4s cubic-bezier(0.5, 0, 0.75, 0);

    &.empty {
        width: 1rem;
    }
}

.title-buttons {
    position: absolute;
    z-index: 150;
    bottom: 15%;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: min(2rem, 2vh, 4vw);
}

.title-button {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: scale(0);
    transition: transform .3s cubic-bezier(0.36, 0, 0.66, -0.56);

    &.pop {
        transform: scale(1);
        transition: transform .3s cubic-bezier(0.34, 1.56, 0.64, 1);
    }
}

.title-button-share {
    pointer-events: all;
    height: min(12vw, 10vh, 3rem);
    width: min(12vw, 10vh, 3rem);
    align-self: center;

    background-color: colors.$grey-medium;
    color: colors.$main-color-light;
    border-radius: 50%;

    opacity: .8;

    &>svg {
        height: inherit;
        width: inherit;
    }

    &.active {
        background-color: colors.$secondary-color-dark;
        opacity: 1;
    }
}

.title-button-label {
    padding: .3rem .8rem;
    border-radius: sizes.$border-radius;
    pointer-events: all;

    font-family: 'Vincendo';
    font-size: min(8vw, 5vh, 1.8rem);
    text-transform: uppercase;
    color: colors.$main-color-light;
    background-color: colors.$secondary-color-dark;
}

.title-build {
    position: absolute;
    z-index: 150;
    bottom: sizes.$gap2rem;

    display: flex;
    justify-content: center;

    transform: scale(0);
    transition: transform .3s cubic-bezier(0.36, 0, 0.66, -0.56);

    &.pop {
        transform: scale(1);
        transition: transform .3s cubic-bezier(0.34, 1.56, 0.64, 1);
    }
}

.title-build-label {
    pointer-events: all;
    font-family: 'Vincendo';
    font-size: sizes.$font-size-extrasmall;
    padding: .2rem .4rem;
    border-radius: sizes.$border-radius;

    color: colors.$main-color-light;
    background-color: colors.$secondary-color-dark;
}

.title-progression-container {
    pointer-events: all;
    position: relative;

    height: sizes.$button-size;
    width: calc(sizes.$button-size * 2);
    border-radius: sizes.$button-size;
    background-color: colors.$secondary-color-dark;
    overflow: hidden;

    transform: scale(0);
    transition: transform .3s cubic-bezier(0.36, 0, 0.66, -0.56);

    &.pop {
        transform: scale(1);
        transition: transform .3s cubic-bezier(0.34, 1.56, 0.64, 1);
    }
}

.title-progression-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: colors.$main-color-light;

    font-size: sizes.$font-size-small;
    font-weight: bold;
    padding: .3rem .6rem;
    border-radius: sizes.$button-size;
}

.title-progression-filler {
    height: 100%;
    width: 0;
    background-color: colors.$secondary-color-extradark;

    transition: width .3s ease-in-out;
}