@use '../colors';
@use '../sizes';

.title-name {
    position: absolute;
    z-index: 150;
    pointer-events: all;
    top: 20%;

    transition: transform .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: scale(1);

    &.slanted {
        transform: perspective(10rem) rotateX(30deg) rotateZ(-5deg) scaleX(0.8);
    }
}

.title-letters {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Vincendo';
    font-size: min(16vw, 16vh, 5rem);
    text-transform: uppercase;
    color: colors.$main-color-light;

    padding: .2rem 1.2rem;
    border-radius: .8rem;
    background-color: colors.$secondary-color-dark;
    border: solid .3rem colors.$main-color-light;

    overflow: hidden;

    transform-origin: center center;
    transform: scale(0);
    transition: transform .3s cubic-bezier(0.36, 0, 0.66, -0.56);

    &.horizontal-bounce {
        transform-origin: center right;
        animation: horizontal-bounce .6s ease-out;
    }

    &.pop {
        transform: scale(1);
        transition: transform .3s cubic-bezier(0.34, 1.56, 0.64, 1);
    }

    text-shadow: 1px 1px 0 colors.$main-color-medium,
    1px 2px 0 colors.$main-color-medium,
    1px 3px 0 colors.$main-color-medium,
    1px 4px 0 colors.$main-color-medium;
}

.title-letter {
    transition: transform .4s cubic-bezier(0.5, 0, 0.75, 0);

    &.empty {
        width: 1rem;
    }
}

.title-buttons {
    position: absolute;
    z-index: 150;
    bottom: 15%;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: min(2rem, 2vh, 4vw);
}

.title-button {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: scale(0);
    transition: transform .3s cubic-bezier(0.36, 0, 0.66, -0.56);

    &.pop {
        transform: scale(1);
        transition: transform .3s cubic-bezier(0.34, 1.56, 0.64, 1);
    }
}

.title-button-share {
    pointer-events: all;
    height: min(12vw, 10vh, 3rem);
    width: min(12vw, 10vh, 3rem);
    align-self: center;

    background-color: colors.$grey-medium;
    color: colors.$main-color-light;
    border-radius: 50%;

    opacity: .8;

    &>svg {
        height: inherit;
        width: inherit;
    }

    &.active {
        background-color: colors.$secondary-color-dark;
        opacity: 1;
    }
}

.title-button-label {
    padding: .3rem .8rem;
    border-radius: sizes.$border-radius;
    pointer-events: all;

    font-family: 'Vincendo';
    font-size: min(8vw, 5vh, 1.8rem);
    text-transform: uppercase;
    color: colors.$main-color-light;
    background-color: colors.$secondary-color-dark;
}

$install-button: min(3.5rem, 15vw, 12vh);

.title-banner {
    position: relative;
    pointer-events: all;

    margin: auto sizes.$gap2rem sizes.$gap2rem sizes.$gap2rem;

    display: flex;
    align-items: center;

    &.browser {
        width: min(calc(100% - 2 * sizes.$gap2rem), 20rem);

        transform: scale(0);
        transition: transform .3s cubic-bezier(0.545, -0.215, 1.000, 0.470);

        &.pop {
            transform: scale(1);
            transition: transform .3s cubic-bezier(0.075, 0.495, 0.320, 1.225);
        }

        &>.title-banner-label {
            width: calc(100% - $install-button / 2);
            margin-right: calc($install-button / 2);
            padding: .3rem calc($install-button / 2) .3rem .6rem;
        }
    }

    &.pwa {
        transform: scale(0);
        transition: transform .3s cubic-bezier(0.36, 0, 0.66, -0.56);

        &.pop {
            transform: scale(1);
            transition: transform .3s cubic-bezier(0.34, 1.56, 0.64, 1);
        }

        &>.title-banner-label {
            padding: .3rem .5rem;
        }
    }
}


.title-banner-label {
    border-radius: sizes.$border-radius;
    text-align: center;
    font-size: sizes.$font-size-extrasmall;
    color: colors.$main-color-light;
    background-color: colors.$secondary-color-dark;
}

.title-banner-install {
    position: absolute;
    right: 0;

    aspect-ratio: 1 / 1;
    height: $install-button;
    width: $install-button;
    border-radius: 50%;

    color: colors.$main-color-light;
    background-color: colors.$secondary-color-dark;

    &>svg {
        width: 100%;
        height: 100%;
        display: block;
    }
}

$progsize: min(2.5rem, 10vw, 10vh);

.title-progression-container {
    pointer-events: all;
    position: relative;

    height: $progsize;
    width: calc(sizes.$button-size * 2);
    margin-left: calc((sizes.$button-size - $progsize) / 2);

    border-radius: sizes.$border-radius;
    background-color: colors.$secondary-color-dark;
    overflow: hidden;

    transform: scale(0);
    transition: transform .3s cubic-bezier(0.36, 0, 0.66, -0.56);

    &.pop {
        transform: scale(1);
        transition: transform .3s cubic-bezier(0.34, 1.56, 0.64, 1);
    }
}

.title-progression-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: colors.$main-color-light;

    font-size: sizes.$font-size-title;
    font-weight: bold;
    padding: .3rem .6rem;
    border-radius: sizes.$button-size;
}

.title-progression-filler {
    height: 100%;
    width: 0;
    background-color: colors.$secondary-color-extradark;

    transition: width .6s cubic-bezier(0.33, 1, 0.68, 1);
}