@use '../colors';
@use '../sizes';

$water-color: #90b2d1;
$stroke-width: .4rem;
$circle-radius: .6rem;

.piaget-tutorial {
    gap: sizes.$gap1rem;
    padding: 0 sizes.$gap1rem;
    text-align: center;
    font-size: sizes.$font-size-regular;
}

.piaget-title {
    font-family: 'Vincendo';
    font-size: sizes.$font-size-title;
}

.piaget-bottle {
    position: relative;
    overflow: hidden;

    background-color: colors.$main-color-light;
    border-radius: sizes.$border-radius;

    &>svg {
        height: 100%;
        width: auto;
        aspect-ratio: 1/1;

        &>.bottle {
            color: transparent;
            stroke: colors.$main-color-dark;
            stroke-width: $stroke-width;
        }

        &>.level {
            stroke: $water-color;
            stroke-width: $stroke-width;
        }
    }
}

.piaget-svg-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;

    &>svg {
        height: 100%;
        width: 100%;
        aspect-ratio: 1/1;

        &>circle {
            fill: $water-color;
            r: $circle-radius;
            transition: r .2s ease-in-out;

            &.hide {
                r: 0;
            }
        }

        &>line {
            stroke: $water-color;
            stroke-width: $stroke-width;

            transition: stroke-width .2s ease-in-out;

            &.hide {
                stroke-width: 0;
            }
        }
    }
}