@use '../colors';
@use '../sizes';

$answer-color: #b9b9b9;
$solution-color: #90b2d1;

$timer-color-normal: #bdcedd;
$timer-color-half: #e2c297;
$timer-color-quarter: #e69797;

.ptsot-characters-container {
    position: relative;
    background-color: colors.$main-color-light;
    border-radius: sizes.$border-radius;

    width: calc(100% - (sizes.$gap1rem * 2));
    height: 100%;

    &:last-child {
        margin-bottom: sizes.$gap1rem;
    }

    &:first-child {
        margin-top: sizes.$gap1rem;
    }
}

.ptsot-characters-text {
    text-align: center;
    padding: 0 sizes.$gap1rem;
    font-size: sizes.$font-size-regular;

    &:last-child {
        margin-bottom: sizes.$gap1rem;
    }

    &:first-child {
        margin-top: sizes.$gap1rem;
    }

    &.title {
        font-family: 'Vincendo';
        font-size: sizes.$font-size-small;
    }

    &>span {
        font-family: 'Vincendo';
        font-size: sizes.$font-size-small;
        color: colors.$grey-extralight;
    }
}

.ptsot-characters-character {
    position: absolute;
    transform: translate(-50%, -50%);

    &.rabbit {
        transform: translate(-38%, -50%);
    }

    &.eagle {
        transform: translate(-50%, -50%);
    }

    &.hunter {
        transform: translate(-54%, -69%);
    }

    &.snake {
        transform: translate(-50%, -67%);
    }

    &.pigeon {
        transform: translate(-56%, -45%);
    }

    &.zucchini {
        transform: translate(-52%, -49%);
    }

    &.cat {
        transform: translate(-48%, -58%);
    }
}

.ptsot-characters-name {
    position: absolute;
    color: colors.$main-color-dark;

    font-size: sizes.$font-size-small;
    text-transform: capitalize;

    &.rabbit {
        transform: translate(-131%, -56%);
    }

    &.eagle {
        transform: translate(-43%, 27%);
    }

    &.hunter {
        transform: translate(-30%, -136%);
    }

    &.snake {
        transform: translate(-73%, 21%);
    }

    &.pigeon {
        transform: translate(-63%, -132%);
    }

    &.zucchini {
        transform: translate(-74%, -138%);
    }

    &.cat {
        transform: translate(-64%, 27%);
    }
}

.ptsot-characters-point {
    position: absolute;
    transform: translate(-50%, -50%);
    height: calc(sizes.$gap1rem / 2);
    width: calc(sizes.$gap1rem / 2);
    background-color: white;
    outline: solid .2rem colors.$grey-extradark;
    border-radius: 50%;
}

.ptsot-svg-container {
    position: relative;
    overflow: hidden;

    background-color: colors.$main-color-light;
    border-radius: sizes.$border-radius;

    height: 100%;
    aspect-ratio: 1/1;

    &:last-child {
        margin-bottom: sizes.$gap1rem;
    }

    &:first-child {
        margin-top: sizes.$gap1rem;
    }

    &>svg {
        &>.line1 {
            stroke: colors.$main-color-dark;
        }

        &>.line-answer {
            stroke: $answer-color;
        }

        &>.line-solution {
            stroke: $solution-color;
        }

        &>.point1,
        &>.point2 {
            r: .3rem;
            fill: colors.$main-color-dark;
        }

        &>.point-answer {
            r: .3rem;
            fill: $answer-color;
        }

        &>.point-solution {
            r: .3rem;
            fill: $solution-color;
        }

        &>.circle {
            fill: transparent;
            stroke-width: .2rem;
            stroke: colors.$main-color-dark;
        }

        &>text {
            font-size: sizes.$font-size-regular;
            fill: colors.$main-color-dark;
            opacity: 1;
            transition: opacity .2s linear;

            &>textPath {
                opacity: 1;
                transition: opacity .2s linear;
            }

            &.hidden {
                opacity: 0;

                &>textPath {
                    opacity: 0;
                }
            }

            &.text-solution {
                fill: $solution-color;
            }
        }

        &>line {
            stroke-width: .2rem;
            transition: stroke-width .2s ease-in-out;

            &.hidden {
                stroke-width: 0;
            }
        }

        &>circle {
            transition: r .2s ease-in-out;

            &.hidden {
                r: 0;
            }
        }
    }
}

.ptsot-timer-container {
    height: .6rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;

    background-color: colors.$secondary-color-dark;
}

.ptsot-timer {
    height: inherit;
    width: 100%;
    background-color: $timer-color-normal;
    transition: background .2s ease-in-out;

    &.half {
        background-color: $timer-color-half;
    }

    &.quarter {
        background-color: $timer-color-quarter;
    }
}

.ptsot-metrics-container {
    font-size: sizes.$font-size-regular;
    width: calc(100% - 2 * sizes.$gap1rem);

    border-collapse: collapse;
    table-layout: fixed;

    &>tr {
        width: 100%;

        &>td {
            padding: .3rem .6rem;
            text-align: center;
            overflow: hidden;

            &:first-child {
                width: 50%;
            }

            &>.ptsot-table-value {
                display: flex;
                justify-content: center;
                align-items: center;
                aspect-ratio: 1/1;
                border-radius: 50%;
                background-color: colors.$main-color-light;
                color: colors.$main-color-dark;
            }
        }
    }
}