@use '../colors';
@use '../sizes';

$model-color: #806d54;
$answer-color: #537ca3;
$answer-color-light: #bed3e6;

.purdue-text {
    gap: sizes.$gap1rem;
}

.purdue-title {
    text-align: center;
    font-family: 'Vincendo';
    font-size: sizes.$font-size-title;
}

.purdue-test-container {
    display: flex;
    flex-direction: column;
    font-size: sizes.$font-size-regular;

    height: calc(100% - 2 * sizes.$gap1rem);
    width: calc(100% - 2 * sizes.$gap1rem);
    padding: sizes.$gap1rem;
    gap: sizes.$gap1rem;
}

.purdue-test-text {
    color: colors.$main-color-light;
    text-align: center;
}

.purdue-vector-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: sizes.$gap1rem;
    min-height: 0;
    max-width: 100%;
    margin: 0 auto;
}

.purdue-vector {
    flex: 1;
    max-height: 100%;
    min-width: 0;
    aspect-ratio: 1/1;
    border-radius: sizes.$border-radius;
    background-color: colors.$main-color-light;
    pointer-events: all;

    transition: background .1s ease-in-out;

    &>svg {
        height: 100%;
        width: 100%;
        fill: $model-color;
        pointer-events: none;

        transition: fill .1s ease-in-out;
    }

    &.answer>svg {
        fill: $answer-color;
    }

    &.active {
        background-color: $answer-color-light;
    }
}

.purdue-label {
    flex: 1;
    color: $answer-color-light;
    font-size: sizes.$font-size-regular;
    text-align: center;
}

.purdue-metrics-container {
    font-size: sizes.$font-size-regular;
    width: calc(100% - 2 * sizes.$gap1rem);

    border-collapse: collapse;
    table-layout: fixed;

    &>tr {
        width: 100%;

        &>td {
            padding: .3rem .6rem;
            text-align: center;
            overflow: hidden;

            &:last-child {
                width: 60%;
            }
        }
    }
}

.purdue-answer-svg {
    height: min(8vw, 10vh, 2rem);
    width: min(8vw, 10vh, 2rem);
    border-radius: 50%;
    justify-self: center;

    &>svg {
        height: inherit;
        width: inherit;
    }

    &.correct {
        background-color: colors.$green-dark;
    }

    &.wrong {
        background-color: colors.$red-dark;
    }
}

.purdue-percentage-container {
    position: relative;
    width: 100%;
    height: min(8vw, 10vh, 2rem);
    background-color: colors.$main-color-light;
    // border-radius: sizes.$border-radius;
    border-radius: min(8vw, 10vh, 2rem);
    overflow: hidden;

    display: flex;
    justify-content: start;
    align-items: center;
}

.purdue-percentage-filler {
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: colors.$main-color-medium;
    transition: width .5s ease-in-out;
}

.purdue-percentage-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    font-size: sizes.$font-size-small;
    border-radius: sizes.$border-radius;
    color: colors.$main-color-extradark;
    padding: .1rem .3rem;
}